html {
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
  font-family: serif;
}

/*make an element inline block*/
.iBlock {
  display: inline-block;
}

body {
  background-color: #fef9ff;
  margin: 0;
  border-left: solid 50px #d4c1ec;
}

div {
  text-align: center;
}

/*Header and Footer*/
footer p {
  display: inline-block;
}

a:hover {
  text-decoration-style: underline;
  color: #fef9ff;
}

a {
  color: #d4c1ec;
  padding-top: 30px;
}

footer,
header {
  text-align: center;
  background-color: #736ced;
  color: "white";
  margin-top: 0;
  height: 100px;
}

h1 {
  color: #d4c1ec;
  margin-top: 0;
  padding-top: 30px;
}

/*Colors we will use
beige - F2DFD7 - use for sidebars
off white - FEF9FF - Use for background
pastel purple - D4C1EC - Use for borders
light purple - 9F9FED - Use for whatever else lol
dark purple - 736CED - use for header and footer 
All of this is at your own discresion. Use you're best judgement, you're NC's best and brightest for a reason LMAO.
*/

/* Calender */

.monChan {
  margin: auto;
  text-align: center;
}

.leftBut {
  margin-right: 60px;
}

.rightBut {
  margin-left: 60px;
}

table,
td,
th {
  border: solid 1px black;
  border-collapse: collapse;
}

td,
th {
  padding: 0.5em;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: #9f9fed;
}

td {
  background-color: #ffffff;
}

/* toolbar stuff */

.tools .color-field {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: inline-block;
  border: 2px solid black;
  align-self: center;
}
.tools {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
}
canvas {
  border: 2px solid black;
  cursor: pointer;
}
